<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <h1>Movie Search Application!</h1>
  <div class="jumbotron">
    <h1 class="display-4">Hello, movie geek!</h1>
    <p class="lead">
      This application provides an easy way for users to search and discover information about their favorite movies. Users can simply input the name of the movie they're interested in, 
      and the application will display comprehensive details about it.
    </p>
    <hr class="my-4" />
    <p>This is created by Anshuli Sarjekar.</p>
    <!-- <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up!</a> -->
  </div>
</div>
<%- include("./partials/footer")%>
